/* body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
#lineOfSquares {
  width: 0;
  height: 0;
}
.lineOfSquares {
  display: flex;
  justify-content: center;
}
.lineOfSquares .oneSquare{
  background-color: black;
  border: 1px solid white;
}
#fullSquare {
  border: 3px rgb(77, 77, 77) solid;
}
.oneSquare{
    width: 20px;
    height: 20px;
} */
/* Center the title of game */
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("IMG/modern-artist-concept-with-notebook-brush.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  padding: 0.5em 0;
}
/* Make a grid on div game-board and make the size of game board */
.gameBoardAlign {
  display: flex;
  justify-content: center;
}
#gameBoard {
  display: grid;
  margin: 0 2em;
  width: 750px;
  height: 750px;
  background-color: rgb(255, 255, 238);
  border: 45px coral solid;
  border-radius: 20px;
}
/* Change the style and position of buttons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding: 1em 0;
}
/* Square colors and gaps */
.square {
  background-color: rgb(255, 255, 238);
}
.buttons button {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  padding: 10px 10px;
  border: 5px solid rgb(236, 157, 128);
  background-color: coral;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}
button:hover {
  border: 5px solid rgb(139, 73, 49);
}
button:active {
  border: 5px solid rgb(236, 157, 128);
  background-color: rgb(139, 73, 49);
}
