/* body {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
#lineOfSquares {
  width: 0;
  height: 0;
}
.lineOfSquares {
  display: flex;
  justify-content: center;
}
.lineOfSquares .oneSquare{
  background-color: black;
  border: 1px solid white;
}
#fullSquare {
  border: 3px rgb(77, 77, 77) solid;
}
.oneSquare{
    width: 20px;
    height: 20px;
} */

